In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\dilee\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\dilee\anaconda3\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: ipython>=1.0 in c:\users\dilee\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: sqlparse in c:\users\dilee\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: six in c:\users\dilee\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\dilee\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable<1 in c:\users\dilee\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\dilee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: setuptools>=18.5 in c:\users\dilee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: jedi>=0.16 in c:\users\dilee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: traitlets>=5 in c:\users\dilee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: colorama in c:\users\dilee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: stack-data in c:\users\dilee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\dilee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\dilee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: matplotlib-inline in c:\users\dilee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: backcall in c:\users\dilee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\dilee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\dilee\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\dilee\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\dilee\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: pure-eval in c:\users\dilee\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: executing in c:\users\dilee\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\dilee\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)

In [2]:
!pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\dilee\anaconda3\lib\site-packages (2.1.1)

In [3]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\dilee\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: six in c:\users\dilee\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\dilee\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in c:\users\dilee\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: sqlparse in c:\users\dilee\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\dilee\anaconda3\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: prettytable<1 in c:\users\dilee\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: pickleshare in c:\users\dilee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in c:\users\dilee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: colorama in c:\users\dilee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: traitlets>=5 in c:\users\dilee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\dilee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\dilee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: decorator in c:\users\dilee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\dilee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\dilee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: stack-data in c:\users\dilee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in c:\users\dilee\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\dilee\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\dilee\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\dilee\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: executing in c:\users\dilee\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\dilee\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in c:\users\dilee\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)

In [4]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [3]:
import pandas as pd 
import numpy as np
import os
import mysql.connector
import pymysql

In [8]:
df=pd.read_csv("C:\\Users\\dilee\\OneDrive\\Desktop\\project npi\\MODIFIED FINAL 1.csv")

In [9]:
df

,NPI,Entity Type Code,Replacement NPI,Employer Identification Number (EIN),Provider Organization Name (Legal Business Name),Provider Last Name (Legal Name),Provider First Name,Provider Middle Name,Provider Name Prefix Text,Provider Name Suffix Text,...,Healthcare Provider Taxonomy Group_7,Healthcare Provider Taxonomy Group_8,Healthcare Provider Taxonomy Group_9,Healthcare Provider Taxonomy Group_10,Healthcare Provider Taxonomy Group_11,Healthcare Provider Taxonomy Group_12,Healthcare Provider Taxonomy Group_13,Healthcare Provider Taxonomy Group_14,Healthcare Provider Taxonomy Group_15,Certification Date
0,1003542069,"2, Organization",NaN,<UNAVAIL>,NEURO PLLC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07/31/2022
1,1912633975,"2, Organization",NaN,<UNAVAIL>,CARTWHEEL HEALTH SERVICES PC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07/31/2022
2,1578207668,"2, Organization",NaN,<UNAVAIL>,INFINITY PHARMACY GROUP LLC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/8/2022
3,1649906603,"2, Organization",NaN,<UNAVAIL>,WE CARE SOLUTIONS LLC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/8/2022
4,1790417673,"1, Individual",NaN,NaN,NaN,BALISKI,ALEXA,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1/8/2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1295454627,"1, Individual",NaN,NaN,NaN,AGLAMEY,BRIGHT,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08/26/2022
496,1013636448,"1, Individual",NaN,NaN,NaN,MCLAUGHLIN,AMY,MARIE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08/26/2022
497,1104545532,"2, Organization",NaN,<UNAVAIL>,ZAZE CATERING,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08/25/2022
498,1922727353,"1, Individual",NaN,NaN,NaN,CHANG,DANIEL,IVAN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08/27/2022
499,1003535436,"1, Individual",NaN,NaN,NaN,BERCIER,MEGAN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08/24/2022

In [11]:
df1 = df[['NPI', 'Entity Type Code','Is Sole Proprietor','Is Organization Subpart','Provider Other Last Name Type Code','Provider Other Organization Name Type Code','NPI Deactivation Reason Code','Provider Gender Code','Provider Business Mailing Address State Name','Provider Name Prefix Text']]

In [12]:
df1

,NPI,Entity Type Code,Is Sole Proprietor,Is Organization Subpart,Provider Other Last Name Type Code,Provider Other Organization Name Type Code,NPI Deactivation Reason Code,Provider Gender Code,Provider Business Mailing Address State Name,Provider Name Prefix Text
0,1003542069,"2, Organization",NaN,"N, No",NaN,NaN,NaN,NaN,MN,NaN
1,1912633975,"2, Organization",NaN,"N, No",NaN,NaN,NaN,NaN,MA,NaN
2,1578207668,"2, Organization",NaN,"N, No",NaN,"3, Doing Business As, O",NaN,NaN,TN,NaN
3,1649906603,"2, Organization",NaN,"N, No",NaN,NaN,NaN,NaN,NV,NaN
4,1790417673,"1, Individual","N, No",NaN,NaN,NaN,NaN,"F, Female",NJ,NaN
...,...,...,...,...,...,...,...,...,...,...
495,1295454627,"1, Individual","N, No",NaN,NaN,NaN,NaN,"F, Female",NY,NaN
496,1013636448,"1, Individual","Y, Yes",NaN,NaN,NaN,NaN,"F, Female",MD,NaN
497,1104545532,"2, Organization",NaN,"N, No",NaN,NaN,NaN,NaN,OH,NaN
498,1922727353,"1, Individual","Y, Yes",NaN,NaN,NaN,NaN,"M, Male",CA,NaN
499,1003535436,"1, Individual","N, No",NaN,NaN,NaN,NaN,"F, Female",LA,NaN

In [ ]:
import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='localhost', database='npiproject', user='root', password='root')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
        cursor.execute('DROP TABLE IF EXISTS NPI_data;')
        print('Creating table....')
# in the below line please pass the create table statement which you want #to create
        cursor.execute("CREATE TABLE NPI_data(NPI int(200),Entity_Type_Code varchar(255),Is_Sole_Proprietor varchar(255),Is_Organization_Subpart varchar(255),Provider_Business_Mailing_Address_Country_Code varchar(255),Provider_Other_Last_Name_Type_Code varchar(255),Provider_Other_Organization_Name_Type_Code varchar(255),NPI_Deactivation_Reason_Code varchar(255),Provider_Gender_Code varchar(255),Provider_Business_Mailing_Address_State_Name varchar(255),Provider_Name_Prefix_Text varchar(255))")
        print("Table is created....")
        #loop through the data frame
        for i,row in df1.iterrows():
            #here %S means string values 
            sql = "INSERT INTO npiproject.npi_data VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"
            cursor.execute(sql, tuple(row))
            print("Record inserted")
            # the connection is not auto committed by default, so we must commit to save our changes
            conn.commit()
except Error as e:
            print("Error while connecting to MySQL", e)